.table-view .column-header-background,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: #f97316;
}
.table-view .column-header .label{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-text-fill: #fafafa;
}
.column-header {
    -fx-background-color: #f97316;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px;
}
.column-header .arrow {
    -fx-shape: "M 0 0 L 8 8 L 16 0 Z";
    -fx-padding: 4;
    -fx-background-color: #fafafa;
}
.column-header-background {
    -fx-background-color: #f97316;
}
.table-cell {
    -fx-font-size: 16px;
    -fx-alignment: center-left;
    -fx-padding: 4px;
    -fx-border-color: #e4e4e7;
    -fx-border-width: 1px;
}
.placeholder {
    -fx-font-size: 16px;
    -fx-text-fill: #09090b;
}
.scroll-bar {
    -fx-background-color: transparent;
}
.scroll-bar .track {
    -fx-background-color: #e0e0e0;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.scroll-bar .thumb {
    -fx-background-color: #f97316;
    -fx-background-insets: 2;
    -fx-background-radius: 5px;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 4;
    -fx-background-color: #f97316;
}

.date-picker .text-field {
    -fx-background-color: transparent;
    -fx-border-radius: 8px;
    -fx-padding: 8px 12px 8px 12px;
    -fx-border-width: 0px;
}
.arrow-button {
    -fx-background-color: transparent;
}

.chart-plot-background {
    -fx-background-color: #fafafa;
}
.default-color0.chart-bar {
    -fx-bar-fill: #f97316;
}
.axis {
    -fx-tick-label-fill: #09090b;
    -fx-font-size: 12px;
}
.axis-label {
    -fx-font-size: 14px;
    -fx-fill: #09090b;
}
.chart-vertical-grid-lines, .chart-horizontal-grid-lines {
    -fx-stroke: #e4e4e7;
    -fx-stroke-width: 1px;
}

.tab-pane {
    -fx-background-color: #fafafa;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}